.northkorea{
    background-color:goldenrod;color: black;
    font-size:15px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;;

}
.note{
    color: darkolivegreen;
    font-size: 80px;
}


#Maincity{
    background-color:goldenrod;color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px;
    padding: 20px;
}

#cities{
     background-color: peru;color: black;
    text-align: center;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px;
    padding: 20px;
}
.city{
   background-color:goldenrod;color: black;
    font-size:15px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;;
  
}

 #link-color:link {
        color: purple;
        background-color: transparent;
        text-decoration: none;
      }
      #link-color:visited {
        color: hotpink;
        background-color: transparent;
        text-decoration: none;
      }
      #link-color:hover {
        color: palegreen;
        background-color: transparent;
        text-decoration: underline;
      }
      #link-color:active {
        color: gray;
        background-color: transparent;
        text-decoration: underline;
      }
      .link-button{
        background-color: blue;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        display: inline-block;
      }
      
      .link-button:hover
      .link-button:active{
        background-color: black;
      }



